    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
        <%= render partial: 'public/home/menu_links' %>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/pages/demo" class="brand-logo"><i class="material-icons">camera</i>PinSood</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
         <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


             <div class="nav-header de researcher ">



                    <h5>فرم ورود</h5>



                    </div>


   </div>








        </nav>


  



        <div class="inner">
            <div class="row">


                <div class="col s12 m6 offset-m3 left container right-align">
                    <div class="card-panel right-align ExpositionRegisterCard">




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<%- flash.each do |name, msg| -%>
  <% content_for :head do %>
  <%= toast(msg,5000,['red']) %>
  <% end %>
<%- end -%>
  <div class="field">
    <%= f.label :email,value: 'ایمیل' %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password,value: 'رمز عبور' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
        <%= f.check_box :remember_me %>
      <%= f.label :remember_me,value: 'من را بخاطر بسپار' %>
      
      
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ورود",class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
           </div>
                </div>
            </div>

      </div>
            </div>
                  </div>
            </div>
                         </div>
            </div>

         <%= render partial: 'partials/public/footer' %>