    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
            <li class="k"><a href="/pages/demo"><i class="material-icons">camera</i>Gallery</a></li>
            <li><a href="/pages/dark-theme"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
            <li><a href="/pages/blog"><i class="material-icons">edit</i>Blog</a></li>
            <li><a href="/pages/docs"><i class="material-icons">school</i>Docs</a></li>
            <li><a href="/pages/full-header"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
            <li><a href="/pages/horizontal"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
            <li><a href="/pages/no-image"><i class="material-icons">texture</i>No Image Expand</a></li>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><%= image_tag @setting.site_logo_url %><%= @setting.site_name %></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
                  <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


                <div class="nav-header de researcher ">



                    <h5>سفارش آنلاین محصول از بهترین فروشگاه های تهران</h5>

                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s3"><a href="#test-swipe-1">جستجوی محله</a></li>
                        <li class="tab col s3"><a class="active" href="#test-swipe-2">جستجوی فروشگاه</a></li>
                        <li class="tab col s3"><a href="#test-swipe-3">جستجو نقشه</a></li>
                    </ul>
                    <div id="test-swipe-1" class="col s12 blue">

                        <div class="input-field col s4">
                            <input placeholder="نام محل خود را وارد کنید" id="first_name" type="text" class="validate clear">
                            <br>
                            <a class="waves-effect waves-light btn clear deep-purple accent-4"><i class="material-icons right">room</i>جستجو</a>
                        </div>


                    </div>
                    <div id="test-swipe-2" class="col s12 red">

                        <div class="input-field col s4">
                            <input placeholder="نام فروشگاه را وارد کنید" type="text" class="validate clear">
                            <br>
                            <a class="waves-effect waves-light btn clear deep-purple accent-4"><i class="material-icons right">room</i>جستجو</a>
                        </div>


                    </div>
                    <div id="test-swipe-3" class="col s12 green">

                    </div>

                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>

            </div>
        </nav>


        <nav class='hide-on-med-and-up'>
            <div class="nav-wrapper">

                <ul id="nav-mobile" class="right">
            
                <% @categories.each do |category| %>
                    <li>
                        <a href="#" <%= raw("class='dropdown-button' data-activates='dropdown#{category.id}'") if category.subcategories.length > 0  %>>
                            <%= category.name %>
                        </a>
                    <% if category.subcategories.length > 0 %>
                        <ul id='dropdown<%= category.id %>' class='dropdown-content'>
                            <% category.subcategories.each do |subcategory| %>
                            <li>
                                <%= link_to subcategory.name,public_home_category_path(permalink: subcategory.permalink) %>
                            </li>
                            <% end %>
                        </ul>
                        <% end %>
                    </li>
                <% end %>
            
                </ul>
            </div>
        </nav>
        
        
        
        
      <style> 
#menu {
    list-style:none;

    /* Borders */
     

}
 
#menu li {
    float:right;
    text-align:right;
    position:relative;

    border:none;

    padding: 0;
    margin: 0;

}
 
#menu li:hover {
    border: none;
    padding: 0;
     
    /* Background color and gradients */
     
    background: #ee6e73;
    background: -moz-linear-gradient(top, #ee6e73, #ee6e73);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee6e73), to(#ee6e73));
     
    /* Rounded corners */
     
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
 
#menu li a {
    
    font-size:14px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    text-shadow: 1px 1px 1px #000;
}
 
#menu li:hover a {


}
#menu li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}
 
/* Drop Down */
 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:-1px auto;
    float:right;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:right;
    /*padding:10px 5px 10px 5px;*/
    border:1px solid #777777;
    border-top:none;
     
    /* Gradient background */
    background:rgba(206, 76, 96, 0.61);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(206, 76, 96, 0.61)), to(rgba(206, 76, 77, 0.75)));
    
 
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}
.dropdown_1column li, 
.dropdown_2columns li, 
.dropdown_3columns li, 
.dropdown_4columns li,
.dropdown_5columns li {
  float:right !important;
    text-align:center !important;
    position:relative !important;
    padding: 4px 10px 4px 10px !important;
    margin-right:-19px !important;
    margin-top:7px !important;
    border:none !important;
}
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 1200px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:auto;
    right: -1px;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: right;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {

    line-height:21px;
    font-size:12px;
    text-align:right;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}
 
/*#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}*/
/*#menu li:hover div a:hover {
    color:#029feb;
}*/
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:42px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}
</style>
        <nav>
            <div class="nav-wrapper" style="    text-align: right;
    float: right;">
     
     

                    <ul id="menu">



<% @categories.each do |category| %>
                

    <li><a href="#" class="drop"><%= category.name %></a>
        <div class="dropdown_5columns">


<ul>
    
    <% category.subcategories.each do |subcategory| %>
    <li>
        <%= link_to subcategory.name,public_home_category_path(permalink: subcategory.permalink) %>
        
        </li>
        
        
        
<% end %>
</ul>
             

        </div>
    </li>
    
    <% end %>
    
    
    
    
    
    
    
    
    
    
</ul>

            </div>
        </nav>

        

        





        <div class="inner">
            <div class="row">

                <% @products.each do |product| %>
               <%= render partial: 'partials/public/product',locals: {product: product} %>
                
                <% end %>

                



            </div>





        </div>
         <%= render partial: 'partials/public/footer' %>