    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
            <li class="k"><a href="/pages/demo"><i class="material-icons">camera</i>Gallery</a></li>
            <li><a href="/pages/dark-theme"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
            <li><a href="/pages/blog"><i class="material-icons">edit</i>Blog</a></li>
            <li><a href="/pages/docs"><i class="material-icons">school</i>Docs</a></li>
            <li><a href="/pages/full-header"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
            <li><a href="/pages/horizontal"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
            <li><a href="/pages/no-image"><i class="material-icons">texture</i>No Image Expand</a></li>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/pages/demo" class="brand-logo"><%= image_tag @setting.site_logo_url %><%= @setting.site_name %></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
                  <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


                <div class="nav-header de researcher ">



                    <h5>سفارش آنلاین محصول از بهترین فروشگاه های تهران</h5>

                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s3"><a href="#test-swipe-1">جستجوی محله</a></li>
                        <li class="tab col s3"><a class="active" href="#test-swipe-2">جستجوی فروشگاه</a></li>
                        <li class="tab col s3"><a href="#test-swipe-3">جستجو نقشه</a></li>
                    </ul>
                    <div id="test-swipe-1" class="col s12 blue">

                        <div class="input-field col s4">
                            <input placeholder="نام محل خود را وارد کنید" id="first_name" type="text" class="validate clear">
                            <br>
                            <a class="waves-effect waves-light btn clear deep-purple accent-4"><i class="material-icons right">room</i>جستجو</a>
                        </div>


                    </div>
                    <div id="test-swipe-2" class="col s12 red">

                        <div class="input-field col s4">
                            <input placeholder="نام فروشگاه را وارد کنید" type="text" class="validate clear">
                            <br>
                            <a class="waves-effect waves-light btn clear deep-purple accent-4"><i class="material-icons right">room</i>جستجو</a>
                        </div>


                    </div>
                    <div id="test-swipe-3" class="col s12 green">

                    </div>

                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>

            </div>
        </nav>


        <nav>
            <div class="nav-wrapper">

                <ul id="nav-mobile" class="right">
            
                        <% @categories.each do |category| %>
                    <li>
                        <a href="#" <%= raw("class='dropdown-button' data-activates='dropdown#{category.id}'") if category.subcategories.length > 0  %>>
                            <%= category.name %>
                        </a>
                    <% if category.subcategories.length > 0 %>
                        <ul id='dropdown<%= category.id %>' class='dropdown-content'>
                            <% category.subcategories.each do |subcategory| %>
                            <li>
                                <%= link_to subcategory.name,public_home_category_path(permalink: subcategory.permalink) %>
                            </li>
                            <% end %>
                        </ul>
                        <% end %>
                    </li>
                <% end %>
             
    



                </ul>
            </div>
        </nav>


        





        <div class="inner">
            <div class="row">

                <% @products.each do |product| %>
               <%= render partial: 'partials/public/product',locals: {product: product} %>
                
                <% end %>

                



            </div>





        </div>
         <%= render partial: 'partials/public/footer' %>