    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
           <%= render partial: 'public/home/menu_links' %>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><i class="material-icons">camera</i>PinSood</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
                   <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


                <div class="nav-header de researcher ">



                    <h5>سفارش آنلاین محصول از بهترین فروشگاه های تهران</h5>

                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s3"><a href="#test-swipe-1">جستجو محصول</a></li>
                        <li class="tab col s3"><a class="active" href="#test-swipe-2">جستجوی فروشگاه</a></li>
                        
                    </ul>
                    <div id="test-swipe-1" class="col s12 blue">
 <form action='/public/home/search' method='get'>
     <%= hidden_field_tag :type, 'product' %>
                        <div class="input-field col s4">
                            <input placeholder="نام محصول را وارد کنید" id="first_name" name='q' type="text" class="validate clear">
                            <br>
                            <%= submit_tag 'جستجو',class: 'waves-effect waves-light btn clear deep-purple accent-4' %>
                     
                        </div>
    </form>

                    </div>
                    <div id="test-swipe-2" class="col s12 red">
  <form action='/public/home/search' method='get'>
      <%= hidden_field_tag :type, 'exposition' %>
                        <div class="input-field col s4">
                          
                            <input placeholder="نام فروشگاه را وارد کنید" type="text" name='q' class="validate clear">
                            <br>
                            
                           <%= submit_tag 'جستجو',class: 'waves-effect waves-light btn clear deep-purple accent-4' %>
                        </div>
 </form>

                    </div>


                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>

            </div>
        </nav>


        <nav>
            <div class="nav-wrapper">

                <ul id="nav-mobile" class="right">
            
                <% @categories.each do |category| %>
                    <li>
                        <a href="#" <%= raw("class='dropdown-button' data-activates='dropdown#{category.id}'") if category.subcategories.length > 0  %>>
                            <%= category.name %>
                        </a>
                    <% if category.subcategories.length > 0 %>
                        <ul id='dropdown<%= category.id %>' class='dropdown-content'>
                            <% category.subcategories.each do |subcategory| %>
                            <li><a href="#!"><%= subcategory.name %></a></li>
                            <% end %>
                        </ul>
                        <% end %>
                    </li>
                <% end %>
             
    



                </ul>
            </div>
        </nav>


        





        <div class="inner">
                <h5 class="center-align">جدیدترین اجناس</h5>
                <div class="divider center-align product-divider"></div>
            <div class="row">

                <% @products.each do |product| %>
               <%= render partial: 'partials/public/product',locals: {product: product} %>
                
                <% end %>

                



            </div>






            <h5 class="center-align">محصولات تخفیف دار</h5>
            <div class="divider center-align product-divider"></div>
            <div class="row">
 <% @products.each do |product| %>
      <%= render partial: 'partials/public/product',locals: {product: product} %>
 <% end %>

            </div>


            <h5 class="center-align">فروشندگان برتر</h5>
            <div class="divider center-align product-divider"></div>
            <div class="row">
<% @expositions.each do |user| %>
               <%= render partial: 'partials/public/exposition',locals: {user: user} %>
<% end %>

              
            </div>
        </div>
         <%= render partial: 'partials/public/footer' %>