    <%= render partial: 'partials/public/fix_menu' %>
         <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
            <li class="k"><a href="/pages/demo"><i class="material-icons">camera</i>Gallery</a></li>
            <li><a href="/pages/dark-theme"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
            <li><a href="/pages/blog"><i class="material-icons">edit</i>Blog</a></li>
            <li><a href="/pages/docs"><i class="material-icons">school</i>Docs</a></li>
            <li><a href="/pages/full-header"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
            <li><a href="/pages/horizontal"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
            <li><a href="/pages/no-image"><i class="material-icons">texture</i>No Image Expand</a></li>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><%= image_tag @setting.site_logo_url %><%= @setting.site_name %></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
                  <%= render partial: 'public/home/menu_links' %>
                </ul>
                <!-- Dropdown Structure -->


                <div class="nav-header de researcher ">



                    <h5><%= @page.title %></h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                  <%= render partial: 'public/home/menu_links' %>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionInboxCard">


                        <div class="row right-align text-right">
                            <%= raw @page.content %>


                        </div>



                    </div>
                </div>
            </div>








        </div>





        
         <%= render partial: 'partials/public/footer' %>