    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
           <%= render partial: 'public/home/menu_links' %>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><%= image_tag @setting.site_logo_url %><%= @setting.site_name %></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
               <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


             <div class="nav-header de researcher ">



                    <h5>ثبت نام فروشگاه ها </h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionRegisterCard">


                        <div class="row">
                            
                                
                            <% if @user.errors.full_messages.any? %>
                              <% @user.errors.full_messages.each do |error_message| %>
                                <% content_for :head do %>
                                  <%= toast(error_message,4000,['red']) %>
                                <% end %>
                              <% end %>
                            <% end %>


                                <%= form_for @user,url: public_home_save_exposition_path,html: {id: 'ExpositionRegisterForm',class: 'col s12 right-align'},method: :POST do |f| %>
    
    <% if @user.errors.full_messages.any? %>
      <% @user.errors.full_messages.each do |error_message| %>
        <% content_for :head do %>
          <%= toast(error_message,4000,['red']) %>
        <% end %>
      <% end %>
    <% end %>
    
    
   <%= render 'partials/public/register_form',f: f %>


<div class="row" style='    width: 100%;
    height: 500px;'>
<div id="map"  style="width:100%; height:100%;"></div>    
</div>

                               

                                <div class="row">
                                
                                <%= f.submit 'ثبت نام',class: 'waves-effect waves-light btn col s12' ,id: 'submit_tag',disabled: 'disabled' %>
                                </div>


                            <% end %>
                        </div>



                    </div>
                </div>
            </div>








        </div>
        
         <%= render partial: 'partials/public/footer' %>
         
         
         
         
          <% content_for :head do %>
              <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: uluru
        });
        
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        
        
        
         infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
            marker.position(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }




      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      
      
      
    </script>
                                               <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSn--jTCMyOzCWXwzca5G-0wz7tzo5Qp8&callback=initMap">
    </script>
 
                                <% end %>
                                

