    <%= render partial: 'partials/public/fix_menu' %>
        <ul class="side-nav" id="nav-mobile" style="transform: translateX(0px);">
           <%= render partial: 'public/home/menu_links' %>
        </ul>

        <nav class="nav-extended x">
            <div class="nav-background">
                <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?12295265317662713736');"></div>
            </div>
            <div class="nav-wrapper db container">
                <a href="/" class="brand-logo"><i class="material-icons">camera</i>PinSood</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="bt hide-on-med-and-down">
               <%= render partial: 'public/home/menu_links' %>
                </ul>
                
                
                
                


             <div class="nav-header de researcher ">



                    <h5>ثبت نام فروشگاه ها </h5>



                    </div>




                    <!--<div class="ge">Learn how to do stuff</div>-->

                </div>








        </nav>





        <nav id="fix-menu-bar" style="display: none;">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-dd" class="right hide-on-med-and-down">
                    <li><a href="sass.html">فرهنگ و هنز</a></li>
                    <li><a href="badges.html">الکترونیک</a></li>
                    <li><a href="collapsible.html">پوشاک</a></li>
                </ul>

                <a class="waves-effect waves-light btn" href="#LR_modal"><i class="material-icons right">person_pin</i>ورود \ ثبت نام</a>

            </div>
        </nav>





        <div class="inner">
            <div class="row">


                <div class="col s12 m10 offset-m1 left container right-align">
                    <div class="card-panel right-align ExpositionRegisterCard">


                        <div class="row">
                            
                                
                            <% if @user.errors.full_messages.any? %>
                              <% @user.errors.full_messages.each do |error_message| %>
                                <% content_for :head do %>
                                  <%= toast(error_message,4000,['red']) %>
                                <% end %>
                              <% end %>
                            <% end %>


                                <%= form_for @user,url: public_home_save_exposition_path,html: {id: 'ExpositionRegisterForm',class: 'col s12 right-align'},method: :POST do |f| %>
    
    <% if @user.errors.full_messages.any? %>
      <% @user.errors.full_messages.each do |error_message| %>
        <% content_for :head do %>
          <%= toast(error_message,4000,['red']) %>
        <% end %>
      <% end %>
    <% end %>
    

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :name,id: 'LFNAME',required: 'required' %>
                                        <label for="LFNAME">نام و نام خانوادگی</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_name,id: 'ExpositionName',required: 'required' %>
                                        <label for="ExpositionName">نام فروشگاه</label>
                                    </div>
                                </div>
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_detail,id: 'ExpositionDetail',required: 'required' %>
                                        <label for="ExpositionDetail">بیوگرافی فروشگاه</label>
                                    </div>
                                </div>
                                  <div class="row">
                                
                                 <%= f.select(:category_id, Category.where(parent_id: nil).collect {|cat|  [cat.name,cat.id]  },{},{class: 'browser-default'}) %>
                                    
                                  
                                     </div>                           
                            

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_address,id: 'ExpositionAdd',required: 'required' %>
                                        <label for="ExpositionAdd">آدرس فروشگاه</label>
                                    </div>
                                </div>
<!-- $('.chips-placeholder').material_chip('data'); -->


                  


                                <div class="row">
                                  <div class="input-field col s12">
                                        <%= f.text_field :static_phone,id: 'ExpositionStaticStaticPhone' %>
                                        <label for="ExpositionStaticStaticPhone">تلفن ثابت</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_field :phone,id: 'ExpositionPhone',required: 'required' %>
                                        <label for="ExpositionPhone">شماره همراه</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.email_field :email,id: 'ExpositionEmail' %>
                                        <label for="ExpositionEmail">ایمیل</label>
                                    </div>
                                </div>
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :password,required: '', pattern: "^\S{8,}$",id: 'password' %>
                                        <label for="password">رمزعبور</label>
                                    </div>
                                </div>
                                
                                
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :password_confirmation, pattern: "^\S{8,}$",required: '',id: 'password_confirmation' %>
                                        <label for="password_confirmation">تکرار رمزعبور</label>
                                    </div>
                                </div>

                                <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn">
                                        <span>افزودن آواتار</span>
                                        
					<%= f.file_field :avatar %>
                                        
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="آپلود آواتار">
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                    <div class="file-field input-field col s12">
                                        <div class="btn">
                                            <span>افزودن بکگراند</span>
                                            
					     <%= f.file_field :background_image %>                                        
</div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="آپلود بکگراند برای فروشگاه">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                          <%= f.text_field :instagram,id: 'ExpositionInstagramId' %>
                                        <label for="ExpositionInstagramId">اکانت اینستاگرام (به طور مثال @example)</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                       <%= f.text_field :telegram,id: 'ExpositionTelegramId' %>
                                        <label for="ExpositionTelegramId"> اکانت تلگرام (به طور مثال @example)</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class=" input-field col s12">

                                    
                                    
                                       <%= f.check_box :post_service,id: 'filled-in-box1',checked: 'checked',class: 'filled-in' %>
                                    <label for="filled-in-box1">فروشگاه شما قابلیت ارسال محصول دارد ؟</label>

                                    </div>
                                    </div>

                                <div class="row">
                                    <div class=" input-field col s12">

                                        <input type="checkbox" class="filled-in" id="filled-in-box2" onchange="document.getElementById('submit_tag').disabled = !this.checked;"  />
                                        <label for="filled-in-box2">صفحه قوانین و مقررات را خوانده ام و شرایط را میپذیرم</label>

                                    </div>
                                </div>

                                <div class="row">
                                
                                <%= f.submit 'ثبت نام',class: 'waves-effect waves-light btn col s12' ,id: 'submit_tag',disabled: 'disabled' %>
                                </div>


                            <% end %>
                        </div>



                    </div>
                </div>
            </div>








        </div>
        
         <%= render partial: 'partials/public/footer' %>
