        <div class="col s12 m3">
                    <div class="card hoverable">
                        <div class="card-image">
                            
                            <%= link_to product_show_path(id: product.id) do %>
                            <% unless product.off_price.blank? %>
                            
                            <spna style='width: 33%;position: absolute;z-index: 1;left: 67%;'>
                                تخفیف دار
                            </spna>
                            <% end %>
                     <% unless product.images[0].blank? %>
                     <%= image_tag product.images.first.url, alt: product.name,style: 'height: 301px;' %>
                     
                     <% else %>
<%= image_tag @setting.default_image_product_url, alt: product.name,style: 'height: 301px;' %>


                   
                      <% end %>
                              
                                <%= link_to product.name[0..20] , product_show_path(id: product.id),class: 'card-title align right gray-text' %>
                               <% end %> 
                                
<% unless current_user.nil? %>

                            <a data-id='<%= product.id %>'  liked='<%= current_user.favorites.exists?(product_id: product.id) %>' class="product-favorite btn-floating halfway-fab waves-effect waves-light  <%=  current_user.favorites.exists?(product_id: product)? 'blue':'red' %> left"><i class="material-icons">favorite</i></a>
                            
                            
                            
                            <%= link_to raw('<i class="material-icons">message</i>'),new_public_ticket_path(id: product.user.id),class: 'btn-floating halfway-fab waves-effect waves-light red right' %>
<% end %>
                        </div>
                        <div class="card-content">
                            <p class='align right' style='direction:rtl;'>
                                
                               <%= product.detail[0..30] %>
                                </p>
                        </div>
                        <div class="card-action">
                               <% unless product.off_price.nil? || product.off_price.blank? %>
                            <a href="#" class='green-text float:left;'>
                                     <span style='float:left;'>
                                    تومان
                                </span>
                              <%= product.off_price.to_s.scan(/.{3}/).join(', ') %>  
                            </a>
                                
                            <% end %>
                           <br>
                           
                           
                            <a href="#"  <%= raw('style="color: gainsboro !important;text-decoration:line-through;"') unless product.off_price.nil? || product.off_price.blank? %> >
                                <span style='float:left;'>
                                    تومان
                                </span>
                                
                                <%= product.price.scan(/.{3}/).join(', ') %>
                            </a>
                             
                         
                        </div>
                    </div>
                </div>
