 <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :name,id: 'LFNAME',required: 'required' %>
                                        <label for="LFNAME">نام و نام خانوادگی</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_name,id: 'ExpositionName',required: 'required' %>
                                        <label for="ExpositionName">نام فروشگاه</label>
                                    </div>
                                </div>
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_detail,id: 'ExpositionDetail',required: 'required' %>
                                        <label for="ExpositionDetail">بیوگرافی فروشگاه</label>
                                    </div>
                                </div>
                                  <div class="row">
                                
                                 <%= f.select(:category_id, Category.where(parent_id: nil).collect {|cat|  [cat.name,cat.id]  },{prompt: 'شاخه را انتخاب کنید'},{required: 'required',class: 'browser-default'}) %>
                                    
                                  
                                     </div>                           
                            

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :exposition_address,id: 'ExpositionAdd',required: 'required' %>
                                        <label for="ExpositionAdd">آدرس فروشگاه</label>
                                    </div>
                                </div>
<!-- $('.chips-placeholder').material_chip('data'); -->


                  
     <div class="row">
                                  <div class="input-field col s12">
                                        <%= f.text_field :identify,id: 'identify',required: 'required' %>
                                        <label for="identify">نام کاربری</label>
                                    </div>
                                </div>

                                <div class="row">
                                  <div class="input-field col s12">
                                        <%= f.text_field :static_phone,id: 'ExpositionStaticStaticPhone' %>
                                        <label for="ExpositionStaticStaticPhone">تلفن ثابت</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <%= f.text_field :phone,id: 'ExpositionPhone',required: 'required' %>
                                        <label for="ExpositionPhone">شماره همراه</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.email_field :email,id: 'ExpositionEmail' %>
                                        <label for="ExpositionEmail">ایمیل</label>
                                    </div>
                                </div>
                                
                                <% if action_name == 'register_exposition' %>
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :password,required: '', pattern: '^\S{8,}$',id: 'password' %>
                                        <label for="password">رمزعبور</label>
                                    </div>
                                </div>
                                
                                
                                
                                      <div class="row">
                                    <div class="input-field col s12">
                                        
                                        <%= f.text_field :password_confirmation, pattern: '^\S{8,}$',required: '',id: 'password_confirmation' %>
                                        <label for="password_confirmation">تکرار رمزعبور</label>
                                    </div>
                                </div>
                                
                                <% end %>

                                <div class="row">
                                <div class="file-field input-field col s12">
                                    <div class="btn">
                                        <span>افزودن آواتار</span>
                                        
					<%= f.file_field :avatar %>
                                        
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="آپلود آواتار">
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                    <div class="file-field input-field col s12">
                                        <div class="btn">
                                            <span>افزودن بکگراند</span>
                                            
					     <%= f.file_field :background_image %>                                        
</div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="آپلود بکگراند برای فروشگاه">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                          <%= f.text_field :instagram_id,id: 'ExpositionInstagramId' %>
                                        <label for="ExpositionInstagramId">اکانت اینستاگرام (به طور مثال @example)</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12">
                                        
                                       <%= f.text_field :telegram,id: 'ExpositionTelegramId' %>
                                        <label for="ExpositionTelegramId"> اکانت تلگرام (به طور مثال @example)</label>
                                    </div>
                                </div>

                                
                                 <% if action_name == 'register_exposition' %>
                                <div class="row">
                                    <div class=" input-field col s12">

                                    
                                    
                                       <%= f.check_box :post_service,id: 'filled-in-box1',checked: 'checked',class: 'filled-in' %>
                                    <label for="filled-in-box1">فروشگاه شما قابلیت ارسال محصول دارد ؟</label>

                                    </div>
                                    </div>


                                <div class="row">
                                    <div class=" input-field col s12">

                                        
                                        <%= f.check_box :terms,class: "filled-in", id: "filled-in-box2", onchange: "document.getElementById('submit_tag').disabled = !this.checked;"  %>
                                        <label for="filled-in-box2">صفحه قوانین و مقررات را خوانده ام و شرایط را میپذیرم</label>

                                    </div>
                                </div>
                                
                                
                                <div class="row" style='    width: 100%;
    height: 500px;'>
<div id="map"  style="width:100%; height:100%;"></div>    
</div>


                                <% end %>
                                
                                
                                 <% content_for :head do %>
              <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        
        
        
          google.maps.event.addListener(map, 'click', function(event) {                
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        
      
        
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
            
            
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
    
    
        
         infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
            marker.setPosition(pos);
            
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      



function markerLocation(){
    //Get location.
    var currentLocation = marker.getPosition();
    //Add lat and lng values to a field that we can save.
    document.getElementById('lat').value = currentLocation.lat(); //latitude
    document.getElementById('lng').value = currentLocation.lng(); //longitude
  
}
  


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      
      
      }
    </script>
                                               <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSn--jTCMyOzCWXwzca5G-0wz7tzo5Qp8&callback=initMap&language=fa&region=IR">
    </script>
 
                                <% end %>