

<%# content_for :head do %>
  
  
<%# end %>

<main>

 <div class="row">
      <div class="col s12 m12">
          
        <div class="card-panel white">

        <table class='striped highlight bordered'>
            <thead>
              <tr>
                  <th>ویرایش</th>
                  
                 <th>
               
                    نوع فیلد
                  </th>
                 
                  <th>پرمالینک</th>
  <th>نام فیلد</th>
              </tr>
            </thead>
    
            <tbody>
            <% @fields.each do |field| %>
              <tr>
                <td>
                  <%= link_to(raw('<i class="material-icons">delete_forever</i>'),delete_field_admin_form_path(prop.id),class: 'small btn-floating waves-effect btn-small waves-light red', :data => {:confirm => t('alert.are_you_sure_delete')}) %>
                  <%= link_to(raw('<i class="material-icons">mode_edit</i>'),edit_field_admin_form_path(prop.id),class: 'small btn-floating waves-effect btn-small waves-light blue') %>
           <% if field.field_type=='select_box' %>  
                  <%= link_to(raw('<i class="material-icons">add</i>'),new_prop_admin_form_path(field.id),class: 'small btn-floating waves-effect btn-small waves-light green') %>
                  <%= link_to(raw('<i class="material-icons">cast</i>'),show_props_admin_form_path(field.id),class: 'small btn-floating waves-effect btn-small waves-light green') %>
              <% end %>

                </td>
               <td><%= field.field_type %></td>
                <td><%= field.permalink %></td>
                <td><%= field.name %></td>
              </tr>
            <% end %>
              
              
            
            </tbody>
          </table>
            
            
          
          
        </div>
      </div>
 </div>
<%= link_to(raw('<i class="material-icons">add</i>'),new_field_admin_form_path,class: 'btn-floating btn-large waves-effect waves-light red',style: 'position:fixed;bottom: 20px; left: 24px;') %>
</main>