<header>
<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
              
              <ul class="align left">
                  <li>
                      <a class="page-title" id='help'>راهنما</a>
                  </li>
              </ul>
              
               <div class="switch align left white-text">
    <label class='white-text'>
      
      <input type="checkbox" id='development'>
      <span class="lever"></span>
      توسعه
    </label>
  </div>

              
            <ul class="align right">
                  <li>
                      <a class="user_name">
                          بازاریاب 
                          <%= current_user.name %>
                      </a>
                  </li>
              </ul>
          
          </div>
        </div>
      </nav>
    
    <ul id="nav-mobile" class="side-nav fixed text-right" style="background-color:#2c3e50 !important;">
        
        <li class="logo align center">
     
        </li>

        <li style="text-align:center !important;">
           <%= gravatar_for current_user %>
        </li>
    
        <li class="bold">
         <%= link_to 'فروشگاه ها',admin_sellers_path,class: 'waves-effect waves-teal' %>
        </li>
            
           <li class="bold">
            <%= link_to 'رمزعبور',admin_dashboard_password_path,class: 'waves-effect waves-teal' %>
             
</li>
        <li class="bold">

          <%= link_to 'خروج' ,destroy_user_session_path,class: "waves-effect waves-teal", :method => :delete %>
          </li>
            
       
      </ul>





   </header>