<header>
<nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
              
              <ul class="align left">
                  <li>
                      
                      <%= link_to 'خروج' ,destroy_user_session_path,class: "page-title", :method => :delete %>
                  </li>
              </ul>
              
               <div class="switch align left white-text">
    <label class='white-text'>
      
      <input type="checkbox" id='development'>
      <span class="lever"></span>
      توسعه
    </label>
  </div>

              
            <ul class="align right">
                  <li>
                      <a class="user_name">
                           
                       <%= current_user.name %>   خوش امدید 
                      </a>
                  </li>
              </ul>
          
          </div>
        </div>
      </nav>
    
    <ul id="nav-mobile" class="side-nav fixed text-right" style="background-color:#2c3e50 !important;">
        
        <li class="logo align center">
            <a id="logo-container"  style="text-align:center !important;" href="<%= exposition_show_url(current_user.id) %>" target='_blank' class="brand-logo">
            فروشگاه <%= current_user.exposition_name %>
            </a>
        </li>

        <li style="text-align:center !important;">
           <%= gravatar_for current_user %>
        </li>
    
        <li class="bold"><a href="/admin/dashboard/index" class="waves-effect waves-teal">
            پیشخوان
            </a></li>
            
        <li class="bold">
            <%= link_to 'محصولات',admin_seller_products_path,class: 'waves-effect waves-teal' %>
             

        </li>
        
        <li class="bold">
            <span class="new badge green left"><%= Comment.where(accept: false).where(product_id: current_user.products.ids).length %></span>
            <%= link_to 'نظرات',admin_comments_path,class: 'waves-effect waves-teal' %>
        </li>
        
      
        <li class="bold">
            <span class="new badge green left">
                <%= Ticketmessage.where(ticket_id: Ticket.where('user_id = ? OR user_two = ?',current_user.id,current_user.id).ids).where(seen: false).length %></span>
       <%= link_to 'تیکت ها',public_tickets_path,class: 'waves-effect waves-teal' %>
  </li>
        
        <li class="bold">
            <a href="/admin/dashboard/profile" class="waves-effect waves-teal">
پروفایل
        </a>
        </li>
        
           
            
           
      </ul>





   </header>