<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'admin/home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% toast(flash[:notice][1],flash[:notice][0],['blue']) unless flash[:notice].nil? %>
    <%= yield(:head) %>
</head>
<body>
 <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<%= yield %>




</body>
</html>
